@import "normalize.scss";


*, *::before, *::after {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  color: #FFFFFF;

  font-size: 18px;
  font-weight: normal;
  font-family: 'Fira Sans', sans-serif;
}

